VITE_COGNITO_DOMAIN=https://datum-dev.auth.us-east-1.amazoncognito.com
VITE_COGNITO_CLIENT_ID=1cesa220pdvje3n7ql6sc1s9go
VITE_COGNITO_USER_POOL_ID=us-east-1_LuXTFzSuR
VITE_BACKEND_URL=http://localhost:3001
