VITE_COGNITO_DOMAIN=https://crypto-assist-dev.auth.us-east-1.amazoncognito.com
VITE_COGNITO_CLIENT_ID=6shio1nbnc3i943rg81ng0sc2g
VITE_COGNITO_USER_POOL_ID=us-east-1_xxxxxxxxx
VITE_BACKEND_URL=http://localhost:3001
